h1{
    color:yellowgreen
}

p{
    font-size:20px;
    color:blue;
}

h2{
    color:orange;
}

.Button{
    background-color:lightblue;
    padding:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}