h1 {
    color: deepskyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2
{
    color: coral;
    font-family: 'Georgia', serif;
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-left: 5px solid #ccc;
    overflow-x: auto;
}

button.Button {
    background-color: lightgreen;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button.Button:hover {
    background-color: mediumseagreen;   
}